* {
  max-width: 800px;
  margin: auto;
}


body {
  background-color: rgba(194, 194, 194, 0.363);
}

div {
  border-radius: 5px;
}

#header {
  height: 40px;
  width: 100%;
  background-color: rgb(129, 129, 129);
  position: relative;
  z-index: 1;
}

#title {
  margin-left: 3%;
}

#footer {
  height: 50px;
  width: 110%;
  margin-left: -50px;
  background-color: #ffcccc;
  clear: both;
  position: relative;
  background-color: rgb(129, 129, 129);
    
}

/*.left {
  height: 940px;
  width: 45px;
  background-color: rgb(155, 155, 155);
  float: left;
  position: fixed;
}

.right {
  height: 1600px;
  width: 45px;
  background-color:rgb(155, 155, 155);
  float: right;
  position: relative;
}
*/
.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 100px;
  width: 75%;
  height: 1000px;
  font-family: Arial, sans-serif
}

div.c {
  text-align: right;
} 

p,
li {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  margin-top: 2px
}

.head {
  font-size: 20px;
  
}

#name {
  font-family: "Courier New", monospace;
  float: right;
  margin-top: 15px;
  margin-right: 4%;
  font-size: 20px;
  font-weight: normal;
    
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 430px) {
  .left,
  .right {
    display: none;
  }
  .stuff {
    width: 100%;
    margin-left: 10px;
  }
}

.left2 {
  float:left;
}

.right2 {
  float:right;
  
}

hr.solid {
  border-top: 5px solid rgb(129, 129, 129);
  width: 1000px;
  margin-left: -100px
}
hr.solid1 {
  border-top: 3px solid rgba(0, 0, 0, 0.367);
  width: 700px;
  margin-left: -89px;
}
.column {
  float: left;
  width: 45%;
  height: 190px;
  background-color: rgba(219, 219, 219, 0.606);  
}

.head1 {
  font-size: 20px;
  margin-left: -40px;
}

#name1 {
  font-family: "Courier New", monospace;
  float: left;
  margin-top: 15px;
  margin-left: 4%;
  font-size: 20px;
  font-weight: normal;
}

footer{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}